@font-face{
    font-family: YotaSans;
    src: url(../fonts/TheSansYota-W5Plain.otf);
}

@font-face{
    font-family: YotaSerif;
    src: url(../fonts/TheSerifYota-W5Plain.otf);
}

h1{
    margin: 0px;
}

header > div{
    display: inline-block;
}

.logo{
    margin: 0px 5px 15px 10px;
    width: 66px;
    height: 87px;
    background-image: url(../img/YOTA_logo_H130px.png);
    background-size: cover;
}

header > h1{
    font-size: 50px;
    position: absolute;
    top: 15%;
    left: 130px;
    font-family: YotaSerif;
    color: rgb(0, 174, 239);
}

#currentUser{
    float: right;
    font-size: 18px;
    margin-top: 35px;
    margin-right: 20px; 
}

#map{
    margin:5px;
    width: calc(100% - 10px);
    height: calc(100vh - 115px);
    box-shadow: 0 0px 1px rgba(0,0,0,0.5);
}


header {
    position: relative;
    margin: 5px;
    box-shadow: 0 0px 7px rgba(0,0,0,0.5);
    background-color: #E5E7E9;
    height: 100px;
    width: calc(100% - 10px);
}

#info{
    padding: 10px;
    position: fixed;
    top: 10px;
    left: calc(100% + 10px);
    height: calc(100vh - 40px);
    margin-left: 50px;
    width: 500px;
    background:#E5E7E9;
    border: 2px solid #00AEEF;
    box-shadow: 0 0px 1px rgba(0,0,0,0.5);
}

.info-header{
    font-family: YotaSerif;
    color: #00AEEF;
    position: relative;
    text-align: center;
    background: #ccc;
    padding: 10px 0 5px 0;
    margin-bottom: 10px;
}

.worker-header, .code-header{
    display: inline-block;
    width: 200px;
}

.worker-header{
    padding: 0 10px 0 10px;
    width: fit-content;
}

.worker-header, .code-header{
    text-align: left;
}

.worker-header > p, .code-header > p{
    display: inline-block;
}

.code-header{
    padding: 0px;
    float: right;
    text-align: center;
}


.icon{
    font-size: 30px;
    position: absolute;
    top: 8px;
    left: 10px;
    color: rgb(0, 174, 239);
}

.icon:hover{
    color: red;
    cursor: pointer;
}

body{
    position: relative;
}

.photo{
    width: 227px;
    height: 150px;
    background: #ccc;
    display: inline-block;
    margin: 10px;
    margin-top: 0px; 
    text-align: center;
}

.comment-section{
    overflow: scroll;
    height: calc(100vh - 500px); 
}

.comment{
    font-family: YotaSans, Arial, Helvetica, sans-serif;
    position: relative;
    padding: 20px 15px 10px 15px;
    width: 440px;
    margin: auto;
    margin-bottom: 20px;
    background: whitesmoke;
    height: fit-content;
    box-shadow: 0 0px 1px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.comment-date{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 5px;
    left: 5px;
    font-style: italic;
    color: ccc;
    font-size: 11px;
}

.comment:first-child{
    margin-top: 10px; 
}

/* Загрузка */


.cssload-loader {
	width: 244px;
	height: 49px;
	line-height: 49px;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
	font-family: helvetica, arial, sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size:18px;
	color: rgba(0,175,239,0.97);
	letter-spacing: 0.2em;
}
.cssload-loader::before, .cssload-loader::after {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	background: rgb(0,175,239);
	position: absolute;
	animation: cssload-load 0.81s infinite alternate ease-in-out;
		-o-animation: cssload-load 0.81s infinite alternate ease-in-out;
		-ms-animation: cssload-load 0.81s infinite alternate ease-in-out;
		-webkit-animation: cssload-load 0.81s infinite alternate ease-in-out;
		-moz-animation: cssload-load 0.81s infinite alternate ease-in-out;
}
.cssload-loader::before {
	top: 0;
}
.cssload-loader::after {
	bottom: 0;
}



@keyframes cssload-load {
	0% {
		left: 0;
		height: 29px;
		width: 15px;
	}
	50% {
		height: 8px;
		width: 39px;
	}
	100% {
		left: 229px;
		height: 29px;
		width: 15px;
	}
}

@-o-keyframes cssload-load {
	0% {
		left: 0;
		height: 29px;
		width: 15px;
	}
	50% {
		height: 8px;
		width: 39px;
	}
	100% {
		left: 229px;
		height: 29px;
		width: 15px;
	}
}

@-ms-keyframes cssload-load {
	0% {
		left: 0;
		height: 29px;
		width: 15px;
	}
	50% {
		height: 8px;
		width: 39px;
	}
	100% {
		left: 229px;
		height: 29px;
		width: 15px;
	}
}

@-webkit-keyframes cssload-load {
	0% {
		left: 0;
		height: 29px;
		width: 15px;
	}
	50% {
		height: 8px;
		width: 39px;
	}
	100% {
		left: 229px;
		height: 29px;
		width: 15px;
	}
}

@-moz-keyframes cssload-load {
	0% {
		left: 0;
		height: 29px;
		width: 15px;
	}
	50% {
		height: 8px;
		width: 39px;
	}
	100% {
		left: 229px;
		height: 29px;
		width: 15px;
	}
}


.cssload-loader{
    margin-top: 20%;
}
/* /Загрузка */